.tit1, .tit2{
	color: red ;
}
.container{
    margin: 0 auto;   
	max-width: 1870px;
	min-width: 670px;
	width: 80%;
   
    
}
@media only screen (max-width: 800px) {
	.container{
		margin: 0;
		overflow:hidden;
		width: 100%;
		font-variant: small-caps;
      }
      article img{
      	clear: both;
      	width: 50%;
      	
      }
      
		
		
		
	}

.cont3{
	 background: #E4E6EC ;
 }
 .factura li{
 	list-style: none;
 	display: inline;
 }
 h5{
 	color: #A22326;
 }
.uy{
	display: inline;
}
footer{
	clear: both;
	background: black;
	border-top: 5px solid #CE405E;

}
footer .container p  {
	color: white;
}
.oli{
	margin-left: 1%;
	text-decoration: none;
	display: block;
	background:#CE405E;
	color: white;
	width: 200px;
	text-align:center;
	font-size: 30px;
	margin-bottom: 2%;
	

}
.unsplash{
	color: gray;

}
fieldset{
	border: 2px solid red;
	font-size: 35px;

}
.titulo a {
	border-bottom: dotted;
	text-decoration: none;
	font-size: 35px;
	color: gray;
}
p, .tit1, .tit2 {
	font-size: 35px;
}
h4{
	display: inline-block;
	color: gray;
	font-size: 20px;
}
.titulo{
	font-size: 70px;
}
input{
	padding: 10px;
	margin: 0 ;
}
option{
	font-size: 30px;
}
.face{
	background-color: blue;
	color:white;
	padding: 15px;
	border-radius: 100% ;
	font-size: 35px;
	padding-bottom: 10%;

}
.twitter{
	color: white;
	background-color: #1DA4FC;
	border-radius: 50% 50%;
	padding: 10px;
	font-size: 35px;
	
}
.pinter{
	color: white;
	background-color: #F91244;
	border-radius: 100%;
	padding: 10px;
	font-size: 38px;

}
.plus{
	color: white;
	background-color: #FA450D;
	border-radius: 100%;
	padding: 10px;
	font-size: 25px;

}
.email{
	color: white;
	background-color: gray;
	border-radius: 100%;
	padding: 10px;
	font-size: 30px;
	
}
.social{
	position: fixed;
	left: 0%;
	top: 30%;
	z-index: 200;


}
img:hover{
-moz-transform: scale(3) translateX(5px) translateY(5px);
-webkit-transform: scale(3) translateX(5px) translateY(5px);
-o-transform: scale(3) translateX(5px) translateY(5px);
-ms-transform: scale(3) translateX(5px) translateY(5px);
transform: scale(.5) translateX(5px) translateY(5px);


}
.social ul li {
	list-style: none;

}
