.fondo{
	background: #E4E6EC;
}
p{
	display: inline;
	color: #EF1242;
	font-size: 30px;
}
.container,.cont{

	margin: 0 auto;   
	max-width: 1670px;
	min-width: 670px;
	width: 70%;
	   

}
h1{
	font-size: 90px;
}
 .box,.box p{
	text-align: right;
	margin-right: 10%; 
	font-size: 40px;  
}
.caj div {
	background: #646470;
	text-align: right;
	float: right;
	margin-right: 1%;

}
.num1,.num2,.num3 {
	border-right: .5px solid white;
	float: left;
	font-size: 90px;

}
.num1{
	color:#23E404;
}
.num2{
	color:#DA6E4A;
}
.num3{
	color:#18BEDD;
	
}
.catego{
	color: white;
	display: inline-block;
	font-size: 30px;
	padding-top: 15px;
	width: 200px;
	padding-left: 2%;
	padding-right: 2%;
	float: right;
	margin:0 auto;

	
	
}
footer{
	clear: both;
	background: black;
	border-top: 18px solid #EA0F48;
	padding-top: 3%;
	height:  300px;
	font-size: 55px;
	padding-top: 5%;

}
footer .container p  {
	color: white;
}
.unsplash{
	color: gray;

}
.cont{
	clear: both;
}
tr, td{
	border-bottom: 1px solid gray;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
	width: 50%;

}
b{
	font-size: 35px;
	text-align: center;
}
ul  li a,li{

	text-decoration: none;
	display: block;
	background:#CE405E;
	color: white;
	float: right;
	width: 200px;
	text-align:center;
	list-style: none;
	margin-bottom: 2%;
	font-size: 30px;
	padding: 1%;
}
.container ul li a:hover{ 
	background-color: white;
	color: #CE405E;
	-webkit-transition: height 2s ease;
-moz-transition: height 2s ease;
-ms-transition: height 2s ease;
-o-transition: height 2s ease;
transition: height 2s ease;
}
.fondo .container p{
	font-size: 40px;
}
@media only screen (max-width: 800px) {
	.container{
		margin: 0;
		overflow:hidden;
		width: 100%;
		font-variant: small-caps;
      }
      article img{
      	clear: both;
      	width: 50%;
      	display: block;
      }
      
		
		
		
	}

img:hover{
-moz-transform: scale(3) translateX(5px) translateY(5px);
-webkit-transform: scale(3) translateX(5px) translateY(5px);
-o-transform: scale(3) translateX(5px) translateY(5px);
-ms-transform: scale(3) translateX(5px) translateY(5px);
transform: scale(.5) translateX(5px) translateY(5px);


}





